/*Container-link area*/
.container-link{
    display: flex;
    flex-direction: column;
}

/*Links-header area*/
.links-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    animation: slide-lateral-links-header 1.5s ease-in-out;
}

@keyframes slide-lateral-links-header {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

.link{
    color: black;
}

/*Links-item area*/
.links-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    animation: slide-lateral-links 2s ease-in-out ;
}

@keyframes slide-lateral-links {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.link-saved .link-icon{
    margin-left: -3.5rem;
    font-weight: bold;
    position: fixed;
}

.link-saved{
    background-color:rgba(128, 128, 128, 0.555);
    width: 50%;
    padding: 0.5rem 4.5rem;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: aliceblue;
    margin-right: 5px;
    overflow: hidden;
}

.link-trash{
    background-color:transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(231, 20, 20);
}

