/*Container-link area*/
.container-link{
    display: flex;
    flex-direction: column;
}

/*Links-header area*/
.links-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.link{
    color: black;
}

/*Links-item area*/
.links-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    animation: slide-lateral-links 1.5s ease-in-out ;
}

@keyframes slide-lateral-links {
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0);
    }
}

.link-saved .link-icon{
    margin-left: -3.5rem;
    font-weight: bold;
    position: fixed;
}

.link-saved{
    background-color:rgba(128, 128, 128, 0.555);
    width: 80%;
    padding: 0.5rem 4.5rem;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: aliceblue;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-trash{
    background-color:transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(206, 14, 14);
    cursor: pointer;
}

/*img list area*/
.img-list{
    background-color: rgba(0, 0, 0, 0.664);
    width: 95vw;
    height: 80vh;
    margin: 25px;
    border-radius: 20px;
    padding: 10px;
    animation: slide-up 1s ease;
}

@keyframes slide-up {
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0);
    }
}

/*container img area*/
.container-img{
    background-color: black;
    color: aliceblue;
    border: 2px solid  #f5af19;
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 20vh;
    text-align: center;
    font-size: 18px;
}

.container-img h3{
    margin: 5px auto 15px auto;
    text-transform: uppercase;
}

.container-img p{
    margin:15px auto;
}
/*button area*/
.button-area{
    border: 2px solid #f5af19;
    margin-top: 25px;
    border-radius: 18px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fav-first{
    padding: 5px 18px;
    border: none;
    background-color: #f5af19;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.fav-first:hover{
    padding: 5px 18px;
    border: none;
    color: #f5af19;
    background-color: black;
    border-radius: 10px;
}